<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
        internalLogLevel="Warn"
        internalLogFile="c:\temp\nlog-internal.log">
    <targets>
      <target name="file" xsi:type="File" layout="${longdate} ${threadid} ${logger} ${message}" fileName="${basedir}/logs/${shortdate}.log" />
      <target name="temp_file" xsi:type="File" layout="${longdate} ${threadid} ${logger} ${message}" fileName="c:\temp\${shortdate}.log" />
      <target xsi:type="Console" name="console" layout="${longdate} ${threadid} ${uppercase:${level}} | ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="file"/>
      <logger name="*" minlevel="Trace" writeTo="console"/>
    </rules>
  </nlog>
</configuration>